#content button {
    position: relative;
    background: none;
    border: none;
    box-shadow: none;
}
dt button:before, #play:before, #rewind:before, #volume-up:before,#heart-o:before,
#heart:before, #facebook:before, #twitter:before, #google-plus:before, #music:before, #user:before
{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin: 0 4px;
    content: "\f014";

}
#heart:before{
    content: "\f004";
}
#facebook:before{
    content: "\f082";
}
#twitter:before{
    content: "\f081";
}
#google-plus:before{
    content: "\f0d4";
}