header {
	width: 100%;
	padding: 2em 0;
	font-weight: 300;
}

header h1 {
	font-size: 23px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	margin-bottom: 2em;
	position: relative;
	font-weight: normal;
	margin-top: 1em;
	float: center;
	display: inline-block;
	padding: 5px 24px;
}

header a:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin: 0 4px;
	position: relative;
	top: 2px;
}

a[href="all"]:before {
	content: "\f00b";
}
a[href="new"]:before {
	content: "\f067";
}
#searchLi a:before {
	content: "\f002";
}
#searchLi form, #searchLi span {
	display: none!important;
}
#userLi a:before {
	content: "\f007";
}
a[href="profile"]:before {
	content: "\f067";
}
li ul a[href=""]:before {
	content: "\f003"!important;
}
li ul a[href="parameter"]:before {
	content: "\f013"!important;
}
li ul a[href="logout"]:before {
	content: "\f011"!important;
}

header h1 a, header h1 a:active, header h1 a:hover, header h1 a:visited {
	color: lightgrey;
}

header nav {
	float: right;
	margin-top: 1.5em;
}

header .active a {
	border-bottom: 2px solid #A0B5D2;
	padding-bottom: 4px;
}

header li {
	margin: .4em .8em;
	padding: 4px 8px;
	display: inline-block;
	position: relative;
}
header li:hover {
	background: #A0B5D2;
	border-radius: 8px;
}
header li:hover > a {
	color: #fff;
}

header li ul {
	position: absolute;
	display: none;
	white-space: nowrap;
	background: #fdfdfd;
	border: 1px solid #A0B5D2;
	width: 100%;
	min-width: 160px;
	top: 2.25em;
	left: 0;
	box-shadow: 0 0 1px #fff, 0 0 4px rgba(212, 212, 212, .5);
	z-index: 110;
}

header li:hover ul {
	display: block;
}

header li ul li {
	display: block;
	border-radius: 0!important;
	margin: 0 0;
}
header .active ul li a {
	border: 0;
}

.notification {
	position: absolute;
	top: 2px;
	left: 15%;
	margin-left: 7px;
	background: rgba(255, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	line-height: 13px;
	min-width: 15px;
	height: 15px;
	text-align: center;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 4px #7b7b7b;
	-moz-box-shadow: 0 0 4px #7b7b7b;
	box-shadow: 0 0 4px #7b7b7b;

	-webkit-animation: shake ease-in 1;
	-moz-animation: shake ease-in 1;
	animation: shake ease-in 1;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;
}



footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin: 0 auto;
	padding: -3em 1.875em 0;
	max-width: 76em;

	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
footer p {
	border-top: 1px solid #ececec;
	margin: 2em 1.875em 0;
	padding: 1em 0;
	line-height: 2.8em;
	text-align: center;
	color: rgb(182, 182, 182);
}