#teaser {
	background: none;
}
#teaser p {
	color: rgba(255, 255, 255, .9);
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 4px rgba(127, 127, 127, 0.31);
}

#teaser p:first-child {
	color: rgba(255, 255, 255, .8);
	font-size: 48px;
	text-align: center;
}

dt button:before, .play:before, .rewind:before, .volume-up:before, .heart-o:before, .heart:before, .facebook:before, .twitter:before, .google-plus:before, .music:before, .user:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin: 0 4px;
	content: "\f014";
}
dt button:before, .play:before, .rewind:before {
	 font-family: 'icomoon';
	 speak: none;
	 font-style: normal;
	 font-weight: normal;
	 font-variant: normal;
	 text-transform: none;
	 line-height: 1;
	 margin: 0 4px;
	 content: "\f014";
}
.play:before{
	content: "\f04b";
}
.play.pause:before{
	content: "\f04c";
}
.rewind:before{
	content: "\f048";
}
.volume-up:before{
	content: "\f028";
}
.heart-o:before{
	content: "\f08a";
}
.heart:before{
	content: "\f004";
}
.facebook:before{
	content: "\f082";
}
.twitter:before{
	content: "\f081";
}
.google-plus:before{
	content: "\f0d4";
}
.music:before{
	content: "\f001";
}
.user:before{
	content: "\f007";
}

dt button span, .play span, .pause span, .rewind span{
	display: none;
}

p.author {
	float: right;
}

.ControlSong, .SocialSong {
	display: inline-block;
	position: relative;
	top: -90px;
}

figure {

}
img {
	max-height: 200px;
}