
label {
	margin-top: 1em;
	font-weight: bold; 
}
figure, form{
	display:inline-block;
}
form label, form button, form input [type="submit"] {
	display: block;
	text-align: center;
}
#content {

	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	border-radius: 4px;
	padding:10px;
	text-align:center;
}
figure img {
	padding-right: 10px;
}