header {
	padding-top: 0;
	padding-bottom: 0;
}

#wrapper > #content {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;

	margin: 0 -10%;
	min-width: 100%;
}

#content aside {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: loose;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow-y: auto;
	height: 100%;

	width: 18%;
	max-width: 300px;
	min-width: 160px;
	position: absolute;
	top: 0;
	z-index: 0;
	padding: 12px 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
aside#versions {
	/*border-right: 1px solid lightgrey;*/
	left: 0;
	padding-left: 0;
}
aside#sounds {
	/*border-left: 1px solid lightgrey;*/
	right: 0;
	height: 100%;
}

#versions h3 {
	display: inline;
}

#playground {
	position: relative;
	margin: 0 18%;
	z-index: 50;
	min-width: 500px;
	-webkit-transition: margin .6s ease-in;
	-moz-transition: margin .6s ease-in;
	-ms-transition: margin .6s ease-in;
	-o-transition: margin .6s ease-in;
	transition: margin .6s ease-in;
	background: #efefef;
	box-shadow: 0 0 4px lightgrey;
	overflow: auto;
}

#timeline {
	width: 100%;
	height: 20px;

}

#playground dd div {
	display: inline-block;
	width: 100px;
	height: 40px;
	background: grey;
	border: 1px solid lightgrey;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(176, 176, 189, .9);
	padding: 4px 8px;
	cursor: move;
}

dt, dd {
	height: 40px;
	border-bottom: 1px solid #847c7c;
	position: relative;
}
dt {
	width: 200px;
	background: #a1a2b1;
	float: left;
	border-radius: 4px;
	z-index: 20;
	box-shadow: 0 1px 2px rgba(184, 184, 191, .8);
	padding: 4px 8px 4px 16px;
}
dt:nth-child(4n), dt:nth-child(4n+1) {
	background: #b6c3d0;
}
dd {
	background: #bebfc1;
	white-space: nowrap;
}
dd:nth-child(4n+1), dd:nth-child(4n+2) {
	background: #9ea2a6;
}

dt button {
	position: relative;
	background: none;
	border: none;
	box-shadow: none;
}
dt button:hover {
	background: none;
	box-shadow: inset 0 0 8px grey;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}
dt button:before, #play:before, #rewind:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin: 0 4px;
	content: "\f014";
}
#play:before{
	content: "\f04b";
}
#play.pause:before{
	content: "\f04c";
}
#rewind:before{
	content: "\f048";
}
dt button span, #play span, #pause span, #rewind span{
	display: none;
}
