#wrapper {
	margin: 0 auto;
	padding: 0 2.875em;
	height: auto;
	min-height: 100%;
	text-align: justify;
	line-height: 1.7857;
	max-width:1680px;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#wrapper > #content {
	position: relative;
	max-width: 76em;
	margin: 0 auto;
	text-align: center;
}

article, #content li {
	background: #fcfcfc;
	margin: 10px -10px;
	padding: 10px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#content .magnets {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
#content .magnets li {
	display: inline-block;
	background: #fcfcfc;
	margin: 8px 8px 0 0;
	padding: 10px 5px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: .95em;
	line-height: 1em;
}

article, section, fieldset {
	text-align: left;
}
section, fieldset {
	border-bottom: 1px solid #ececec;
	margin: 0;
	padding: 25px 0 15px;
	position: relative;
}
section:first-child, fieldset:first-child {
	padding-top: 15px;
}
fieldset.button:first-child {
	padding-top: 0;
}
h1 + section, h1 + fieldset {
	margin-top: 15px;
	padding-top: 15px;
}
h1 + section:nth-child(2) {
	margin-top: 0;
	padding-top: 15px;
}
section:last-child {
	border-bottom: 0;
}
section:nth-child(2n+1) > h2 {
	margin-top: -10px;
}
section:nth-child(2n+1):before {
	position: absolute;
	content: "";
	top: 0;
	right: -46px;
	bottom: 0;
	left: -46px;
	z-index: -1;
	background: rgba(240, 242, 245, 0.6);
}


#wrapper h1 {
	letter-spacing: -1px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.05em;
	text-align: left;
	line-height: 1em;
	font-size: 1.6em;
}
#wrapper h2 {
	line-height: 1em;
	margin-bottom: 15px;
	font-size: 1.3em;
}


h3 {
	font-weight: 500;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #f1f1f1;
}
h4 {
	margin-top: 5px;
}



.date {
	font-weight: 400;
	font-style: oblique;
	font-size: 0.8em;
	margin-left: 10px;
}


table {
	margin: 0 auto;
	font-size: 12px;
	background: #fefefe;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 4px rgba(228, 228, 228, 1);
	-moz-box-shadow: 0 0 4px rgba(228, 228, 228, 1);
	box-shadow: 0 0 4px rgba(228, 228, 228, 1);
	min-width: 440px;

	width: 100%;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
th, td {
	padding: 14px 2px;
	text-align: center;
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #EDE9E9;
	vertical-align: middle;
}
th {
	background: #f3f5fb;
	background: -moz-linear-gradient(top, #f3f5fb 0%, #e8ebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f5fb), color-stop(100%,#e8ebeb));
	background: -webkit-linear-gradient(top, #f3f5fb 0%,#e8ebeb 100%);
	background: -o-linear-gradient(top, #f3f5fb 0%,#e8ebeb 100%);
	background: -ms-linear-gradient(top, #f3f5fb 0%,#e8ebeb 100%);
	background: linear-gradient(to bottom, #f3f5fb 0%,#e8ebeb 100%);
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f5fb', endColorstr='#e8ebeb',GradientType=0 )";
	border: 1px solid #dfdfdf;	padding: 0 10px;
	height: 28px;
	text-shadow: 0 1px 1px #f3efef;
	position: relative;
	color: #5c5656;
}

#content nav {
	text-align: center;
	margin: 10px 0 0;
}

.notice {
	font-style: italic;
	display: inline-block;
	color: grey;
}