fieldset {
	border:0;
}

legend {
	text-align: center;
}
@-moz-document url-prefix() { /* Firefox (de merdre) hack */
	legend {
		width: 100%;
	}
}
legend label {
	line-height: 1em;
}
label {
	font-size: 13px;
	font-weight: 300;
	line-height: 32px;
	color: #626262;
	display: inline-block;
	text-align: left;
	position: relative;
	top: -2px;
	padding: 0 5px 0 0;
}
label:after, dt:after, h4:after {
	padding-left: 5px;
	content: ":";
}

input, .button, button, select, textarea, input[readonly]:focus {
	border: 1px solid rgb(175, 175, 175);
	outline: 0;
	border-width: 1px;
	margin: 0 10px 0 0;
	height: 30px;
	padding: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 0 2px rgba(220, 220, 220, 1);
	-moz-box-shadow: inset 0 0 2px rgba(220, 220, 220, 1);
	box-shadow: inset 0 0 2px rgba(220, 220, 220, 1);

	color: #070707;
	font-weight: 200;
	font-family: "Helvetica Neue", "Helvetica", "Myriad Set Pro", "Lucida Grande", "Lucida Sans Unicode", "Arial", "Verdana", "sans-serif";
	-webkit-transition: background .5s, box-shadow .5s;
	-moz-transition: background .5s, box-shadow .5s;
	-ms-transition: background .5s, box-shadow .5s;
	-o-transition: background .5s, box-shadow .5s;
	transition: background .5s, box-shadow .5s;
}
input[type="submit"], input[type="button"], .button, button, select {
	cursor: pointer;
	padding: 0 10px;
	-webkit-box-shadow: rgba(0, 0, 0, .14) 0 1px 4px 0, inset rgba(255, 255, 255, .4) 0 1px 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, .14) 0px 1px 4px 0, inset rgba(255, 255, 255, .4) 0 1px 2px 0;
	box-shadow: rgba(0, 0 , 0, .14) 0 1px 4px 0, inset rgba(255, 255, 255, .4) 0 1px 2px 0;
	background: #f4f4f4;
	background: -webkit-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: -moz-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: -o-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: -ms-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);

	text-shadow: 0 -1px 0 rgb(240, 240, 240);
	color: #413131;
	margin: 10px auto 0;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="checkbox"]:hover, .button:hover, button:hover, select:hover {
	-webkit-transform: scale(.98);
	-moz-transform: scale(.98);
	-ms-transform: scale(.98);
	-o-transform: scale(.98);
	transform: scale(.98);
	-webkit-animation: pulse 1s ease-in-out .1s infinite alternate;
	-moz-animation: pulse 1s ease-in-out .1s infinite alternate;
	animation: pulse 1s ease-in-out .1s infinite alternate;
}
input[type="submit"]:hover, input[type="button"]:hover, .button:hover, button:hover, select:hover {
	background: rgba(230, 229, 229, 1);
	background: -webkit-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: -moz-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: -o-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: -ms-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
}
input:focus, .button:focus, button:focus, select:focus, textarea:focus {
	-webkit-box-shadow: rgba(0, 0, 0, .14) 0 1px 4px 0, inset rgba(255, 255, 255, .4) 0 1px 2px 0, 0 0 1px rgba(108, 108, 108, 1);
	-moz-box-shadow: rgba(0, 0, 0, .14) 0px 1px 4px 0, inset rgba(255, 255, 255, .4) 0 1px 2px 0, 0 0 1px rgba(108, 108, 108, 1);
	box-shadow: rgba(0, 0 , 0, .14) 0 1px 4px 0, inset rgba(255, 255, 255, .4) 0 1px 2px 0, 0 0 1px rgba(108, 108, 108, 1);
}
input[disabled], .button[disabled], button[disabled], select[disabled] {
	background: #f4f7f7;
	background: repeating-linear-gradient(45deg, #f9fcfc, #f4f7f7 1px, #f4f7f7 1px, #f5f3f8 4px);
	border-color: #d9d9d9;
	color: #dcd9d9;
	box-shadow: none;
	cursor: default;
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}
input[disabled]:hover, .button[disabled]:hover, button[disabled]:hover, select[disabled]:hover {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
#wrapper .active {
	-webkit-transform: scale(.90) translateY(0.10%);
	-moz-transform: scale(.90) translateY(0.10%);
	-ms-transform: scale(.90) translateY(0.10%);
	-o-transform: scale(.90) translateY(0.10%);
	transform: scale(.90) translateY(0.10%);
	background: rgb(231, 231, 231);
	border-color: rgb(159, 159, 159);
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}

button {
	margin: 0 3px;
}
select {
	background: url(images/selector.png), #f4f4f4;
	background: url(images/selector.png), -webkit-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: url(images/selector.png), -moz-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: url(images/selector.png), -o-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: url(images/selector.png), -ms-linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);
	background: url(images/selector.png), linear-gradient(top, #fffefe 0%, #f4f4f4 50%, #f0eded 50%, #efefef 100%);

	background-repeat: no-repeat, repeat;
	background-size: auto 14px, 100% auto;
	background-position: 94% 50%, 0;
	padding-right: 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	margin: 1px auto 0;
	max-width: 84%;
}
select:hover {
	background: url(images/selector.png), rgb(230, 229, 229);
	background: url(images/selector.png), -webkit-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: url(images/selector.png), -moz-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: url(images/selector.png), -o-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: url(images/selector.png), -ms-linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background: url(images/selector.png), linear-gradient(top, #fffefe 0%, #E6E5E5 50%, #E6E5E5 50%, #eeeeee 100%);
	background-repeat: no-repeat, repeat;
	background-size: auto 14px, 100% auto;
	background-position: 94% 50%, 0;
}

select::-ms-expand {
	display: none;
}
table select {
	text-align: center;
	border: 0;
	width: 100%;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0 5px;
	box-shadow: rgba(242, 242, 242, 0.14) 0 1px 4px 0, inset rgba(255, 255, 255, .4) 0 1px 2px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	vertical-align: middle;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
td select {
	background: url(images/selector.png), #FFF;
	background-repeat: no-repeat, repeat;
	background-size: auto 14px, auto;
	background-position: 94% 50%, 0;
}
table select:focus {
	border-width: .5px;
	margin-top: 0;
}
td input, td input[type="submit"], td input[type="button"], td .button, td button {
	margin: 0 2px;
}

input[type=checkbox] {
	height: auto;
}
input[type="text"], input[type="password"], input[type="date"], input[type="number"], textarea, input[readonly]:focus {
	padding-left: 5px;
	padding-right: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea {
	resize: vertical;
	height: 12em;
	margin: 0;
}
dd textarea {
	margin: 15px 0 0;
}
dd input[type="text"], dd input[type="password"], dd input[type="date"], h3 input[type="text"], h3 input[type="date"], textarea {
	width: 100%;
}
dd input[maxlength] {
	width: auto;
}


.button {
	width: 200px;
	z-index: 100;
	position: relative;
	overflow: hidden;
	padding: 0;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-ms-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}
.button label:after {
	content: none;
}
.button input[type="file"] {
	visibility: visible;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	position: absolute;
}
#files_list {
	font-size: 10px;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.button label {
	box-shadow: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.button img {
	display: none;
}
.button.loading {
	width: 43px;
	height: 43px;
	margin: 0 auto;
}
.button.loading label {
	display: none;
}
.button.loading img {
	display: block;
}

input[type="file"] {
	position: absolute;
	left: -1000px;
	visibility: hidden;
}
#files_list input {
	position: relative;
	top: 3px;
	right: 5px;
	background: url(close.png) no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1005;
	cursor: pointer;
}

.modal-container {
	position: relative;
	float: right;
}
.modal {
	position: absolute;
	z-index: 100;
	border: 1px solid #B3B3B3;
	background: #FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
	line-height: 22px;
	text-align: center;
	margin: 0 -4px 0 11px;
	right: 0;
	top: 35px;
}
.modal:before, .modal:after {
	content: "";
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -8px;
	border-width: 0 10px 10px;
	border-style: solid;
	border-color: #B3B3B3 transparent;
	display: block;
	width: 0;
}
.modal:after {
	top: -9px;
	border-color: #fff transparent;
}
.modal.suppr:after {
	border-color: #F72B2B transparent;
}
.modal a {
	padding: 2px 2px;
	margin: 0;
	width: 100%;
	display: inline-block;
	border: none;
	border-radius: 0;
	background: #fff;
}
.modal.suppr a:first-child {
	background: #F72B2B;
	color: #FFF;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-left-radius:  4px;
	border-top-right-radius: 4px;
}
.modal.suppr a:last-child {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-top-bottom-radius:  4px;
	border-top-bottom-radius: 4px;
}