header {
	position: fixed;
	width: 14%;
	padding: 2em 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
	font-weight: 300;

	-webkit-box-shadow: inset 0 0 12px #586b92;
	-moz-box-shadow: inset 0 0 12px #586b92;
	box-shadow: inset 0 0 12px #586b92;

	background: url("images/noise.png"), #6d84b4;
}

header h1 {
	color: #fff;
	text-shadow: 0px 1px 0px #a1a1a1, 0px 2px 0px #888, 0px 3px 0px #777;
	font-size: 23px;
	font-family: 'ChunkFiveRegular';
	position: relative;
}

header nav {
	position: relative;
	background: url("images/noise.png"), #6d84b4;
	margin-top: 1em;
}

nav.shutter {
	position: absolute;
	left: 12%;
	right: 0;
	top: -.4em;
	min-height: 104%;
	z-index: 1000;
	border-left: 1px solid #4b72c2;
	/*
	-webkit-box-shadow: -2px 0 2px rgba(70, 106, 181, 0.29);
	-moz-box-shadow: -2px 0 2px rgba(70, 106, 181, 0.29);
	box-shadow: -2px 0 2px rgba(70, 106, 181, 0.29);
	*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/*nav.shutter:before {
	content: "";
	position: absolute;
	z-index: -1000;
	top: 10px;
	bottom: 10px;
	left: 0;
	width: 100%;
	border-radius: 12px / 65px;
	-webkit-box-shadow: -2px 0 10px rgba(70, 106, 181, .92);
	-moz-box-shadow: -2px 0 10px rgba(70, 106, 181, .92);
	box-shadow: -2px 0 10px rgba(70, 106, 181, .92);
}*/

.shutterAnimate nav.shutter {
	-webkit-animation: slide ease-in 1;
	-moz-animation: slide ease-in 1;
	animation: slide ease-in 1;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

header > ul {
	position: absolute;
	bottom: .5em;
	width: 100%;
}

header li {
	margin: .4em 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: relative;
	text-shadow: 0px 1px 1px #656565;
}
header li:hover {
	background: #5d7ccd;
}
header li.active {
	background: #5069A6;
}

header .active:after, header .active:before {
	top: 50%;
	right: 0;
	border: solid transparent;
	border-width: 12px 12px 12px 0;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin: -12px 0 0;
	display: block;
}

header .active:before {
	content: "";
	border-color: transparent #d9d9d9;
	margin-top: -14px;
	border-width: 14px 14px 14px 0;
}
header .active:after {
	content: "";
	border-color: transparent #fcffff;
}

header a, header a:hover, header a:visited, header a:active {
	padding: 0 0 0 15%;
	color: #f3f3f3;
	text-decoration: none;
	display: block;
}
.shutterOn a, .shutterOn a:hover, .shutterOn a:visited, .shutterOn a:active {
	padding-left: 5%;
	-webkit-animation: slide2 ease-in 1;
	-moz-animation: slide2 ease-in 1;
	animation: slide2 ease-in 1;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;
}

.shutterOn:hover .shutter {
	left: 28%;
}

.shutterOn .shutter a {
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}
header a:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	position: relative;
	top: 1px;
}
nav a.aProfil:before {
	content: "\e60d";
}
nav a.aPromo:before {
	content: "\e60e";
}
nav a.aEvents:before {
	content: "\e60a";
}
nav a.aSearch:before {
	content: "\e610";
}
nav a.aGroups:before {
	content: "\e96f";
}
nav a.aMessage:before {
	content: "\e945";
}
nav .active a.aGroups:before {
	content: "\e970";
}
nav a.aAnchor:before, nav a.aAdd:before {
	content: "#";
	margin-left: 3px;
	margin-right: 15px;
}
nav a.aAdd:before {
	content: "+";
	top: -1px;
}

header a#aHelp:before {
	content: "\e607";
}
header a#aParams:before {
	content: "\e614";
}
header a#aOut:before {
	content: "\e61c";
}

.notification {
	position: absolute;
	top: 2px;
	left: 15%;
	margin-left: 7px;
	background: rgba(255, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	line-height: 13px;
	min-width: 15px;
	height: 15px;
	text-align: center;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 4px #7b7b7b;
	-moz-box-shadow: 0 0 4px #7b7b7b;
	box-shadow: 0 0 4px #7b7b7b;

	-webkit-animation: shake ease-in 1;
	-moz-animation: shake ease-in 1;
	animation: shake ease-in 1;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;
}
.shutterOn .notification {
	left: 5%;
}

menu {
	display: none;
}



footer {
	float: right;
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	padding: -3em 1.875em 0;
	width: 86%;
	max-width: 76em;

	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
footer p {
	border-top: 1px solid #ececec;
	margin: 2em 1.875em 0;
	padding: 1em 0;
	line-height: 2.8em;
	text-align: center;
	color: rgb(182, 182, 182);
}