@media screen and (max-width: 555px) {
	header {
		width: 10%;
	}
	header span {
		display: none;
	}
	header a, header a:hover, header a:visited, header a:active {
		padding-left: 0;
		text-align: center;
	}
	#wrapper {
		width: 90%;
	}
	.shutterOn:hover .shutter {
		left: 55%;
	}
}

@media screen and (min-width: 1024px) {
	select {
		max-width: 512px;
	}
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	input, .button, button, select, textarea, input[readonly]:focus {
		border-width: .5px;
	}
}
