#wrapper {
	float: right;
	width: 86%;
	padding: 2em 2.875em;
	height: auto;
	min-height: 100%;
	text-align: justify;
	line-height: 1.7857;
	/*padding-bottom: 3.125em;
	margin-bottom: -3em;*/
	max-width:1680px;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#wrapper > #content {
	position: relative;
	max-width: 76em;
	margin: 0 auto;
	text-align: center;
}

article, #content li {
	background: #fcfcfc;
	margin: 10px -10px;
	padding: 10px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#content .magnets {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
#content .magnets li {
	display: inline-block;
	background: #fcfcfc;
	margin: 8px 8px 0 0;
	padding: 10px 5px;
	border: 1px solid;
	border-color: #e7e9ed #e6e7ec #e1e2e7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: .95em;
	line-height: 1em;
}

article, section, fieldset {
	text-align: left;
}
section, fieldset {
	border-bottom: 1px solid #ececec;
	margin: 0;
	padding: 25px 0 15px;
	position: relative;
}
section:first-child, fieldset:first-child {
	padding-top: 15px;
}
fieldset.button:first-child {
	padding-top: 0;
}
h1 + section, h1 + fieldset {
	margin-top: 15px;
	padding-top: 15px;
}
h1 + section:nth-child(2) {
	margin-top: 0;
	padding-top: 15px;
}
section:last-child {
	border-bottom: 0;
}
section:nth-child(2n+1) > h2 {
	margin-top: -10px;
}
section:nth-child(2n+1):before {
	position: absolute;
	content: "";
	top: 0;
	right: -46px;
	bottom: 0;
	left: -46px;
	z-index: -1;
	background: rgba(240, 242, 245, 0.6);
}


a.edit, a.delete, a.all, a.desinscrire, a.params, a.types, a.diplomes, a.etablissements, a.domaines, a.codesAPE, a.postes {
	font-size: 16px;
	letter-spacing: 0px;
	float: right;
	margin-left: 15px;
}
a.edit, a.add, a.delete, a.getback {
	z-index: 100;
	position: relative;
}
a.edit:before, a.delete:before, a.add:before, a.getback:before, a.desinscrire:before, a.params:before, a.types:before, a.diplomes:before, a.etablissements:before, a.domaines:before, a.codesAPE:before, a.postes:before {
	font-family: 'icomoon';
	font-size: 12px;
	speak: none;
	font-style: normal;
	font-weight: 300;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	line-height: 1em;
	padding-right: 5px;
}
a.edit:before {
	content: "\e603";
}
a.add:before {
	font: inherit;
	font-size: 18px;
	font-weight: 400;
	content: "+";
}
a.delete:before {
	content: "\e615";
}
a.desinscrire:before {
	content: "\e61c";
}
a.params:before {
	content: "\e614";
}
h1 a.edit {
	float: none;
}
a.getback {
	float: left;
	width: 0;
	white-space: nowrap;
	line-height: 2.5em;
}
a.getback:before {
	margin-left: -32px;
	padding-right: 20px;
	content: "\ea40";
}

#wrapper h1 {
	letter-spacing: -1px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.05em;
	text-align: left;
	line-height: 1em;
	font-size: 1.6em;
}
#wrapper h2 {
	line-height: 1em;
	margin-bottom: 15px;
	font-size: 1.3em;
}

dt label {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-weight: inherit;
	top: 0;
	padding: 0;
	margin-top: -4px;
	vertical-align: middle;
}
dt label:after {
	content: none;
}
dt, dd, h3, h4, #content p, li {
	position: relative;
}
h3, dd {
	font-weight: 500;
}
h3 {
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #f1f1f1;
}
h4 {
	margin-top: 5px;
}




dt:nth-child(4n), dt:nth-child(4n+1), dd:nth-child(4n+1), dd:nth-child(4n+2) {
   background-color: #f8f8fb;
}

dt, dd {
	margin: 0 -10px;
	padding: 0 10px;
	line-height: 50px;
	min-height: 50px;
}
dt {
	margin-right: 5px;
	float: left;
	z-index: 10;
}


dd {
	padding-left: 130px;
}
dd:after {
	float: right;
}
dt:before, dd:before, h2:before, h3:before, h4:before, li p:before, article p:before, #content li:before {
	font-family: 'icomoon';
	font-size: 16px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 50px;
	position: absolute;
	top: 16px;
	left: -26px;
	text-align: center;
	color: #dae0e9;
	line-height: 1em
}
h3:before, li p:before, article p:before {
	top: 6px;
	left: -36px;
}
h2:before {
	top: 11px;
}
dd {
	font-weight: 400;
}
dd:after {
	content: "\A";
	opacity: 0;
	display: -moz-inline-stack;
	display: inline-block;
	margin: -20px;
	width: 0;
	float: right;
}
.personne:before {
	content: "\e60d";
}
#nomUsage:before, .description:before {
	content: "\e978";
}
#sexeF:before {
	content: "\e9dd";
}
#sexeM:before {
	content: "\e9dc";
}
#dateNaissance:before {
	content: "\e99f";
}
#adresse1:before {
	content: "\e947";
}
#adresse2:before {
	content: "\e948";
}
#codePostal:before {
	content: "\e94c";
}
#ville:before {
	content: "\e949";
}
#pays:before {
	content: "\e94a";
}
#telephoneFixe:before {
	content: "\e943";
}
#telephoneMobile:before {
	content: "\e942";
}
#mail:before {
	content: "\e945";
}
.diplome:before, a.diplomes:before {
	content: "\e920";
}
.etablissement:before, a.etablissements:before {
	content: "\e605";
}
.resultat:before {
	content: "\e99b";
}
.departement:before {
	content: "\e60e";
}
.promotion:before {
	content: "\e9bc";
}
.entreprise:before {
	content: "\e601";
}
.poste:before, a.postes:before {
	content: "\e60f";
}
.periode:before {
	content: "\e94e";
}
.domaine:before, a.domaines:before {
	content: "\e91f";
}
.commentaire:before {
	content: "\e978";
}
.evenement:before {
	content: "\e953";
}
.type:before, a.types:before {
	content: "\e935";
}
.nom, .nomPatronymique {
	text-transform: uppercase;
	margin-left: 3px;
}
.message:before {
	content: "\e96e";
}
#fax:before {
	content: "\e926";
}
#web:before {
	content: "\ea80";
}
.codeAPE:before, a.codesAPE:before {
	content: "\e937";
}
.date {
	font-weight: 400;
	font-style: oblique;
	font-size: 0.8em;
	margin-left: 10px;
}

/*
 * Pour l'aide sur les élements autres que des liens, il faut encore que je réchéflisse...
 * (en temps voulu ;—] )
 *
.show-help *[data-help]:after {
	content: attr(data-help);
}*/
.show-help header a[title]:after, .show-help [data-help]:after {
	display: block;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.show-help header a[title]:after {
	content: attr(title);
	font-size: 12px;
	line-height: 12px;
	margin-top: -4px;
}
.show-help header a[title="Accueil"]:after {
	display: none;
}
.show-help header a[title]:hover:after {
	background: #5d7ccd;
}
.show-help header .active a[title]:hover:after {
	background: none;
}
.show-help #wrapper [data-help] {
	position: relative;
}
.show-help #wrapper [data-help]:before, .show-help #wrapper [data-help]:after {
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	z-index: 500000;
}
.show-help #wrapper [data-help]:before {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -6px;
	bottom: 11px;
	width: 12px;
	height: 12px;
	-webkit-box-shadow: 2px 2px 4px rgba(186, 186, 186, .45);
	-moz-box-shadow: 2px 2px 4px rgba(186, 186, 186, .45);
	box-shadow: -2px -2px 4px rgba(186, 186, 186, .45);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	background-color: rgba(255,  239,  112, 0.95);
}
.show-help #wrapper [data-help]:after {
	content: attr(data-help);
	background-color: rgba(255, 239, 112, 0.98);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.15), 0 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.15), 0 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 0 15px rgba(0,0,0,.15), 0 0 1px 1px rgba(0,0,0,.1);
	padding: 4px 8px;
	font: 15px/20px "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	font-weight: 2 00;
	width: 250px;
	color: rgb(174, 60, 30);
	text-shadow: 0 1px 2px #fff7c5;
	position: absolute;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: -125px;
	left: 50%;
	bottom: -8px;
	white-space: nowrap;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	overflow-y: auto;
	height: auto;
}
.show-help #wrapper [data-help]:hover:before, .show-help #wrapper [data-help]:hover:after, .show-help #wrapper [data-help]:focus:before, .show-help #wrapper [data-help]:focus:after {
	opacity: 0;
}

table {
	margin: 0 auto;
	font-size: 12px;
	background: #fefefe;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 4px rgba(228, 228, 228, 1);
	-moz-box-shadow: 0 0 4px rgba(228, 228, 228, 1);
	box-shadow: 0 0 4px rgba(228, 228, 228, 1);
	min-width: 440px;

	width: 100%;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
th, td {
	padding: 14px 2px;
	text-align: center;
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #EDE9E9;
	vertical-align: middle;
}
th {
	background: #f3f5fb;
	background: -moz-linear-gradient(top, #f3f5fb 0%, #e8ebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f5fb), color-stop(100%,#e8ebeb));
	background: -webkit-linear-gradient(top, #f3f5fb 0%,#e8ebeb 100%);
	background: -o-linear-gradient(top, #f3f5fb 0%,#e8ebeb 100%);
	background: -ms-linear-gradient(top, #f3f5fb 0%,#e8ebeb 100%);
	background: linear-gradient(to bottom, #f3f5fb 0%,#e8ebeb 100%);
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f5fb', endColorstr='#e8ebeb',GradientType=0 )";
	border: 1px solid #dfdfdf;	padding: 0 10px;
	height: 28px;
	text-shadow: 0 1px 1px #f3efef;
	position: relative;
	color: #5c5656;
}

#content nav {
	text-align: center;
	margin: 10px 0 0;
}

.notice {
	font-style: italic;
	display: inline-block;
	color: grey;
}